@page main {
    width: 276mm;
    height: 376mm;
    margin: 0;
    padding: 0;
}

html {
    page: main;
    padding: 0;
    margin: 0;
    width: 276mm;
    height: 376mm;
    background-size: 252mm 348mm;
}

html#analog {
    background: url(gold_front.png) no-repeat center;
}

html#digital {
    background: url(blue_front.png) no-repeat center;
}

html#power {
    background: url(green_front.png) no-repeat center;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
}

h1 {
    position: absolute;
    left: 29mm;
    right: 29mm;
    top: 33mm;
    height: 20mm;
    padding: 4mm 2mm 0 0;
    font-family: Orbitron;
    font-variant: small-caps;
    font-size: 17mm;
    text-align: right;
}

#image {
    position: absolute;
    left: 35mm;
    top: 74mm;
    height: 118mm;
    width: 206mm;    
    text-align: center;
    line-height: 86.9mm;
    display: table;
}

#image img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-height: 118mm;
    max-width: 206mm;
    margin: auto;
}

#description {
    position: absolute;
    top: 208mm;
    height: 117mm;
    left: 32mm;
    right: 32mm;
    font-size: 8.2mm;
    font-family: Helvetica, sans-serif;
    padding: 1mm 4mm;
}

#description p {
    margin: 0 0 0.75em 0;
    padding: 0;
}

img.equation {
    vertical-align: middle;
}

#cardno {
    position: absolute;
    top: 333mm;
    left: 97mm;
    width: 24mm;
    font-family: Orbitron;
    font-size: 15mm;
    text-align: left;
}

#totalcards {
    position: absolute;
    top: 333mm;
    right: 97mm;
    width: 24mm;
    font-family: Orbitron;
    font-size: 15mm;
    text-align: right;
}

#gold #totalcards, #gold #cardno {
    color: #D3840B;
}
